<div id="wrap">
  <div class="adesao">
    <h1>Solitação de Adesão</h1>
    <div class="box adesao" #box>
      <div id="stepper1" class="bs-stepper">
        <div class="bs-stepper-header" #header>
          <div class="step" data-target="#test-l-1">
            <button class="step-trigger userlogin">
              <span class="bs-stepper-circle"
                ><i class="fas fa-user-circle icone"></i>
              </span>
              <span class="bs-stepper-label">Dados Pessoais</span>
            </button>
          </div>

          <div class="step" data-target="#test-l-2">
            <button class="step-trigger userlogin" [disabled]="!enabledTabTwo">
              <span class="bs-stepper-circle"
                ><i class="far fa-map-marker-alt icone"></i>
              </span>
              <span class="bs-stepper-label">Endereço</span>
            </button>
          </div>

          <div class="step" data-target="#test-l-3" #tref>
            <button
              class="step-trigger userlogin"
              [disabled]="!enabledTabThree"
            >
              <span class="bs-stepper-circle"
                ><i class="far fa-users icone"></i>
              </span>
              <span class="bs-stepper-label">Vincular Familiares</span>
            </button>
          </div>

          <div class="step" data-target="#test-l-4">
            <button class="step-trigger userlogin" [disabled]="!enabledTabFour">
              <span class="bs-stepper-circle"
                ><i class="far fa-percentage icone"></i>
              </span>
              <span class="bs-stepper-label">Tributação Imposto de Renda</span>
            </button>
          </div>
          <div class="step" data-target="#test-l-5">
            <button class="step-trigger userlogin" [disabled]="!enabledTabFive">
              <span class="bs-stepper-circle"
                ><i class="far fa-usd-circle icone"></i>
              </span>
              <span class="bs-stepper-label">Contribuição</span>
            </button>
          </div>
          <div class="step" data-target="#test-l-6">
            <button class="step-trigger userlogin" [disabled]="!enabledTabSix">
              <span class="bs-stepper-circle"
                ><i class="far fa-user-plus icone"></i>
              </span>
              <span class="bs-stepper-label">Beneficiários</span>
            </button>
          </div>
          <div class="step" data-target="#test-l-7">
            <button
              class="step-trigger userlogin"
              [disabled]="!enabledTabSeven"
            >
              <span class="bs-stepper-circle"
                ><i class="far fa-file-signature icone"></i>
              </span>
              <span class="bs-stepper-label">Termos e Aceites</span>
            </button>
          </div>
          <div class="step" data-target="#test-l-8">
            <button class="step-trigger" [disabled]="!enabledTabEight">
              <span class="bs-stepper-circle"
                ><i class="far fa-lock-alt icone"></i
              ></span>
              <span class="bs-stepper-label">Assinatura Eletrônica</span>
            </button>
          </div>
        </div>
        <div class="bs-stepper-content">
          <form (ngSubmit)="onSubmit()">
            <div id="test-l-1" class="content box-position">
              <div class="content-tab ">
                <div class="dadospessoais">
                  <app-adesao-dados-pessoais
                    [hidden]="menorDeIdade"
                  ></app-adesao-dados-pessoais>
                  <app-adesao-dados-pessoais-titular
                    [hidden]="!menorDeIdade"
                  ></app-adesao-dados-pessoais-titular>
                </div>
              </div>

              <div class="footertabs">
                <button
                  class="backButton"
                  (click)="backOneTab()"
                  *ngIf="menorDeIdade"
                  [disabled]="!maiorback"
                >
                  Voltar
                </button>

                <div *ngIf="!maioriaddeInfo">
                  <button
                    (click)="next()"
                    (click)="scrollWinOne()"
                    class="btn btn_verde"
                    [disabled]="BtnDisabledOne"
                  >
                    AVANÇAR
                    <i class="fas fa-chevron-right"></i>
                  </button>
                </div>

                <div *ngIf="maioriaddeInfo">
                  <button *ngIf="!maioridadenext"
                    (click)="verificaMaioridade()"
                    class="btn btn_verde"
                    [disabled]="BtnDisabledOne"
                  >
                    AVANÇAR
                    <i class="fas fa-chevron-right"></i>
                  </button>

                  <button  *ngIf="maioridadenext"
                    (click)="next()"
                    class="btn btn_verde"
                    [disabled]="BtnDisabledOne"
                  >
                    AVANÇAR
                    <i class="fas fa-chevron-right"></i>
                  </button>

                </div>
              </div>
            </div>

            <div id="test-l-2" class="content">
              <div class="content-tab">
                <div class="endereco">
                  <app-adesao-endereco></app-adesao-endereco>
                </div>
              </div>

              <div class="footertabs">
                <button
                  (click)="next()"
                  (click)="scrollWinTwo()"
                  class="btn btn_verde"
                  [disabled]="BtnDisabledTwo"
                >
                  AVANÇAR <i class="fas fa-chevron-right"></i>
                </button>
              </div>
            </div>

            <div id="test-l-3" class="content" #trefDois>
              <div class="content-tab">
                <app-adesao-vinculo-familiar></app-adesao-vinculo-familiar>
              </div>
              <div class="footertabs">
                <button
                  (click)="next()"
                  (click)="scrollWinThree()"
                  class="btn btn_verde"
                  [disabled]="BtnDisabledThree"
                >
                  AVANÇAR <i class="fas fa-chevron-right"></i>
                </button>
              </div>
            </div>

            <div id="test-l-4" class="content">
              <div class="content-tab">
                <app-adesao-tributacao-imposto-renda></app-adesao-tributacao-imposto-renda>
              </div>
              <div class="footertabs">
                <button
                  (click)="next()"
                  (click)="scrollWinFour()"
                  class="btn btn_verde"
                  [disabled]="BtnDisabledFour"
                >
                  AVANÇAR <i class="fas fa-chevron-right"></i>
                </button>
              </div>
            </div>

            <div id="test-l-5" class="content">
              <div class="content-tab">
                <app-adesao-contribuicao></app-adesao-contribuicao>
              </div>
              <div class="footertabs">
                <button
                  (click)="next()"
                  (click)="scrollWinFive()"
                  class="btn btn_verde"
                  [disabled]="BtnDisabledFive"
                >
                  AVANÇAR <i class="fas fa-chevron-right"></i>
                </button>
              </div>
            </div>
            <div id="test-l-6" class="content beneficiariostb">
              <div class="content-tab content-tab-noleft ">
                <app-adesao-beneficiarios></app-adesao-beneficiarios>
                <p *ngIf="moreThan100" id="erro-value__msg">
                  O valor somado dos Beneficiários deve resultar em 100%
                </p>
              </div>
              <div class="footertabs">
                <div style="position: relative">
                  <p
                    id="btn-jumpage"
                    class=" wd50 btn_cor-verde"
                    (click)="openContrato(contrato)"
                  >
                    Pular etapa
                  </p>
                  <button
                    (click)="openContrato(contrato)"
                    class="btn  wd51 btn_verde"
                    [disabled]="BtnDisabledEight"
                  >
                    AVANÇAR <i class="fas fa-chevron-right"></i>
                  </button>
                </div>
              </div>
            </div>
            <div id="test-l-7" class="content">
              <div class="content-tab">
                <app-adesao-termos-aceites></app-adesao-termos-aceites>
              </div>
              <div class="footertabs">
                <button
                  (click)="next()"
                  class="btn btn_verde"
                  [disabled]="BtnDisabledSix"
                >
                  AVANÇAR <i class="fas fa-chevron-right"></i>
                </button>
              </div>
            </div>
            <div id="test-l-8" class="content">
              <div class="content-tab content-tab-noleft">
                <div class="assinatura">
                  <app-adesao-assinatura-eletronica
                    *ngIf="!BtnCloseAdesao"
                  ></app-adesao-assinatura-eletronica>
                  <app-adesao-confirma-dados
                    *ngIf="BtnCloseAdesao"
                    [data]="testeprops"
                  ></app-adesao-confirma-dados>
                </div>
              </div>
              <div class="footertabs">
                <button
                  (click)="closeAdesao()"
                  class="btn btn_verde"
                  [disabled]="BtnDisabledSeven"
                  *ngIf="!BtnCloseAdesao"
                >
                  AVANÇAR <i class="fas fa-chevron-right"></i>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #contrato let-modal>
  <div class="modal-body">
    <form (submit)="ngOnInit()">
      <p>
        A ABRAPP – Associação Brasileira das Entidades Fechadas de Previdência
        Complementar é a Instituidora do plano de benefícios setorial Viva Mais
        Previdência sendo o vínculo associativo com a mesma necessário para o
        acesso ao plano de benefícios, o que ocorrerá na forma de filiação como
        Associado Especial Previdenciário da ABRAPP, sem qualquer custo ou
        obrigação. Acesso ao Estatuto da ABRAPP:
        <a
          href=" http://www.abrapp.org.br/Abrapp/Documents/estatuto_abrapp.pdf"
        >
          http://www.abrapp.org.br/Abrapp/Documents/estatuto_abrapp.pdf</a
        >
      </p>

      <strong class="title">PEDIDO DE FILIAÇÃO</strong>
      <h3 class="titlediretoria">
        À <br />Diretoria Integrada do Sistema ABRAPP
      </h3>

      <p>
        Eu <strong> {{ nome }} </strong>, portador(a) da Cédula de Identidade RG
        nº {{ cpf }}, inscrito(a) no CPF/MF sob o nº{{ cpf }}, residente e
        domiciliado {{ cpf }}, por meio do presente venho requerer minha
        filiação ao quadro associativo da ABRAPP na qualidade de Associado
        Especial Previdenciário da ABRAPP, exclusivamente para fins de inscrição
        ao Plano de Benefícios Setorial Viva Mais Previdência oferecido por
        Fundação Sanepar de Previdência e Assistência Social – Fusan.
      </p>
      <p>
        Ao assinar o presente, declaro estar ciente do inteiro teor do Estatuto
        Social da ABRAPP, bem como dos direitos e deveres impostos aos seus
        membros.
      </p>
      <p>
        Autorizo que os dados pessoais aqui informados sejam utilizados para
        fins de filiação à ABRAPP e que os mesmos serão protegidos atendendo ao
        disposto na Lei nº 13.709/2018. Curitiba, 06 de setembro de 2019.
      </p>
    </form>
  </div>

  <div class="termos">
    <div class="form-check">
      <input
        class="form-check-input"
        type="checkbox"
        value=""
        id="defaultCheck1"
        (input)="onChangePermission($event.target.checked)"
      />
      <label class="form-check-label" for="defaultCheck1">
        Li e aceito os termos do pedido de filiação a ABRAPP
      </label>
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn_verde"
      (click)="modal.close('Save click')"
      [disabled]="!BtnNexModalAdesao"
      (click)="next()"
      (click)="scrollWinSix()"
    >
      AVANÇAR <i class="fas fa-chevron-right"></i>
    </button>
  </div>
</ng-template>
