.bs-stepper-circle {
    display: inline-flex;
    align-content: center;
    justify-content: center;
    margin: 0.25rem;
    line-height: 1em;
    color: #c3c3c3;
    background: none !important;
    width: 100%;
}

#wrap {
    background: url(../../../assets/img/adesao-bg.jpg);
    background-position: right;
    background-size: cover;
    min-height: 100%;
}

.bs-stepper .step-trigger {
    padding: 10px 1%;
    height: 110px;
    opacity: 1 !important;
}

.adesao {
    max-width: 1200px;
    margin: 0 auto;
}

.adesao h1 {
    color: #FFF;
}

.content-tab {
    padding: 40px 100px;
    width: 100%;
    float: left;
}

.hue {
    max-width: 80% !important;
}

.content-tab-noleft {
    float: initial !important;
}

.mat-form-field {
    width: 100%;
}

.icone {
    font-size: 30px;
    display: block;
    margin-bottom: 10px;
}

.loginlabel {
    display: block;
}

.footertabs {
    width: 100%;
    margin-top: 20px;
    text-align: right;
    z-index: 2;
}

.adesao .step {
    text-align: center;
    border-bottom: 2px solid #d0d0d0;
}

.adesao .step.active {
    border-bottom: 3px solid#005781;
    font-weight: bold;
}

.adesao .step.active .icone {
    font-weight: bold;
}

.bs-stepper-label {
    font-weight: 300;
}

.active .bs-stepper-label {
    color: #005781;
}

.active .bs-stepper-circle {
    color: #005781;
}

.bs-stepper-label {
    white-space: pre-wrap;
    font-size: 14px;
}

.dadospessoais,
.endereco,
.assinatura {
    max-width: 679px;
    float: initial;
    margin: 0 auto;
}

strong.title {
    text-align: center;
    width: 100%;
    display: block;
    margin: 40px 0;
}

h3.titlediretoria {
    width: 100%;
    display: block;
    margin: 40px 0;
}

.inputcontrato {
    float: inherit;
    max-width: 28%;
    padding: 0;
}

@media (max-width: 769px) {
    #wrap {
        height: 100%;
        overflow: scroll;
    }
    .hue {
        max-width: 100% !important;
    }
    .content-tab {
        padding: 40px 20px;
        display: flex;
        margin-bottom: 60px;
        float: initial;
    }
    .bs-stepper .step-trigger {
        padding: 10px 8px;
        width: 138px;
    }
    .bs-stepper-header {
        margin: 0 -10px;
        text-align: center;
        overflow-x: scroll;
        width: 106.2%;
    }
    .bs-stepper-label {
        white-space: pre-wrap;
        font-size: 13px;
    }
    .footertabs {
        display: flex;
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: 2;
    }
    .footertabs button {
        bottom: 0;
        border-radius: 0 !important;
        position: fixed;
        width: 100%;
        z-index: 2;
    }
    .adesao {
        padding: 0 10px;
    }
    .beneficiariostb .wd51 {
        width: 50% !important;
        right: 0 !important;
        position: fixed !important;
        bottom: 0 !important;
        border-radius: 0 !important;
    }
    .beneficiariostb .wd50 {
        padding: 10px !important;
        text-align: center;
        width: 50% !important;
        background: #9a9999;
        color: #fff !important;
        border-radius: 0 !important;
        text-transform: uppercase;
        margin-bottom: 0;
    }
    .btn_verde--disabled {
        width: 100% !important;
    }
    .modal .btn_verde {
        width: 60%;
        font-size: 12px;
    }
    .modal a {
        word-break: break-word;
    }
    #btn-jumpage {
        position: relative !important;
        width: 190px !important;
        left: 0;
        cursor: pointer !important;
        bottom: 0px !important;
    }
    #erro-value__msg {
        position: absolute;
        left: 32px !important;
        width: 295px !important;
        font-size: 14px;
        margin: 0;
        padding: 0;
        top: 49%;
    }
}

#erro-value__msg {
    text-align: center;
    color: #333;
}

#btn-jumpage {
    position: absolute;
    right: 150px;
    bottom: -7px;
    cursor: pointer;
}

.backButton {
    position: absolute;
    bottom: 10px;
    right: 154px;
    border: none;
    background-color: transparent;
}

.box-position {
    position: relative;
}