h3 {
  font-weight: bold;
  margin-bottom: 25px;
  width: 100%;
  float: left;
}

div#emailErrorMsg {
  position: absolute;
  top: 71.5%;
  width: 303px;
  display: flex;
  height: 20px;
  align-items: baseline;
}

div#emailErrorMsg h2 {
  font-size: 12px;
  color: #cc1618;
}

div#emailErrorMsg p {
  color: #8b8b8b;
  font-size: 12px;
  margin: 0 6px;
}

div#nomeErrorMsg {
  position: relative;
  top: 60.5%;
  width: 315px;
  display: flex;
  height: 20px;
  align-items: baseline;
}

div#nomeErrorMsg h2 {
  font-size: 12px;
  color: #cc1618;
}

div#nomeErrorMsg p {
  color: #8b8b8b;
  font-size: 12px;
  margin: 0 6px;
}