<h3>
  Identificamos que você não é um Participante Fusan. Insira seus dados de
  contato.
</h3>
<form>
  <div class="form-group">
    <input
      (input)="onUserNomeChange($event.target.value)"
      class="full-width"
      name="usernome"
      [value]="usernome"
      placeholder="Nome Completo"
    />
    <small *ngIf="!nomeError">Digite seu nome completo.</small>
    <div id="nomeErrorMsg" *ngIf="nomeError">
      <p>
        <b style="color: #cc1618; font-weight: 400">Erro! </b>O campo nome esta
        incorreto.
      </p>
    </div>
  </div>
  <div class="form-group" style="position: relative">
    <input
      (input)="onUserEmailChange($event.target.value)"
      class="full-width"
      name="useremail"
      [value]="useremail"
      placeholder="email@email.com"
    />
    <div
      id="emailErrorMsg"
      *ngIf="emailError"
      style="position: relative; left: -7px; bottom: 0px;"
    >
      <p>
        <b style="color: #cc1618; font-weight: 400">Erro! </b>O campo email esta
        incorreto.
      </p>
    </div>
  </div>
  <div class="form-group" style="position: relative">
    <input
      (input)="onUserPhoneChange($event.target.value)"
      class="full-width"
      name="userphone"
      placeholder="41 9 9999-9999"
      [imask]="{ mask: '(00) 0 0000-0000' }"
      maxlength="16"
    />
  </div>
</form>
