<div class="assinatura">
  <h3>Quase pronto!</h3>
  <span class="title"
    >Crie uma assinatura eletrônica para ter o acesso completo na
    plataforma</span
  >
  <div class="form-group full-width">
    <input
      (input)="onChangeAssinatura($event.target.value)"
      type="password"
      name="assinatura"
      [value]="assinatura"
      matInput
      placeholder="Assinatura Eletrônica *"
    />
  </div>
  <small>Mínimo 8 caracteres Caractere Maiúsculo Número</small>
</div>
