.assinatura {
    float: left;
    width: 100%;
    min-height: 350px;
    text-align: center
}

.assinatura h3 {
    text-align: center;
}

.assinatura h3,
.assinatura span.title {
    font-size: 14px;
    display: block;
    text-align: center;
    width: 100%;
}

.assinatura span.title {
    margin: -7px 0 35px;
    font-weight: 300;
}

.assinatura small {
    text-align: left;
}

.assinatura {
    float: initial;
}