<div class="tabsConfirmaDados">
  <h3>Dados inseridos!</h3>
  <span class="title"> Confira suas escolhas de plano e conclua a adesão</span>

  <div class="form-check form-check-inline">
    <div class="card">
      <div class="card-body">
        <ul class="list-group verifica">
          <li>
            <span>Tributação IR</span>
            <strong>{{ userinfo.tributacao }}</strong>
          </li>
          <li>
            <span>Valor da contribuição mensal </span
            ><strong>{{ userinfo.valormensal }}</strong>
          </li>
          <li><span>Dia de vencimento</span><strong>00</strong></li>
          <li class="lastlist">
            <span>Quantidade de beneficiários</span
            ><strong>{{ userinfo.qntbeneficiarios }}</strong>
          </li>
        </ul>

        <ul class="beneficiadoslista">
          <li
            *ngFor="let beneficiario of userinfo.beneficiarios"
            style="list-style-type: none; position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                    left: -25px;"
          >
            <span>{{ beneficiario.nome }}</span>
            <span>{{ beneficiario.parentesco }}</span>
            <span>{{ beneficiario.beneficios }}%</span>
          </li>
        </ul>

        <div class="boletoaviso">
          O boleto do 1º pagamento poderá ser emitido ao concluir a adesão.
        </div>
        <div class="footertabs">
          <a
            routerLink="/adesao-concluido"
            routerLinkActive="active"
            class="btn btn_verde"
            >CONCLUIR</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
