.tabsConfirmaDados {
  width: 100%;
  float: left;
}

.tabsConfirmaDados .card {
  border: none !important;
}

.tabsConfirmaDados .form-check-inline {
  width: 100%;
}

.tabsConfirmaDados ul li span {
  float: left;
}

.tabsConfirmaDados ul li strong {
  float: right;
}

.tabsConfirmaDados small {
  margin: 0 !important;
}

.tabsConfirmaDados label {
  color: #005781;
  font-size: 15px;
  font-weight: 500;
}

.tabsConfirmaDados .form-check-inline .form-check-input {
  display: inline-block;
  width: 20px;
  margin-top: 10px;
  float: left;
}

.tabsConfirmaDados h3 {
  font-size: 17px;
}

.tabsConfirmaDados h3,
.tabsConfirmaDados span.title {
  display: block;
  text-align: center;
  width: 100%;
}

.tabsConfirmaDados span.title {
  margin: -7px 0 35px;
  font-weight: 300;
}

.tabsConfirmaDados .card {
  width: 100% !important;
}

.tabsConfirmaDados ul.verifica li {
  margin: 10px 0;
  border-bottom: 1px solid #919191;
  height: auto !important;
  color: #717171;
  padding: 13px 0 !important;
  list-style: none;
}

.footertabs {
  text-align: center;
}

.beneficiadoslista {
  text-align: center;
  margin: 40px 0 0;
}

.boletoaviso {
  background: #005781;
  padding: 5px;
  color: #fff;
  width: 100%;
  float: left;
  margin: 40px 0;
  text-align: center;
  border-radius: 3px;
}

.beneficiadoslista li {
  padding: 10px;
  color: #8b8b8b;
  list-style-type: decimal;
}

.lastlist {
  border: none !important;
}

.beneficiadoslista li span {
  margin: 0 6px;
}

.mgbutton {
  display: inline-block;
  margin: 20px 0;
}

.beneficiadoslista li i {
  float: right;
  font-size: 13px;
  padding: 6px;
}

.tabsConfirmaDados {
  float: initial !important;
}

.list-group.verifica ul li span,
.list-group.verifica ul li strong {
  text-align: center;
}

@media (max-width: 769px) {
  .tabsConfirmaDados ul li span {
    text-align: center;
  }

  .tabsConfirmaDados ul li strong {
    text-align: center;
  }
}
