header {
    max-width: 100%;
    background: #fff;
    padding: 15px;
}

header img {
    width: 100px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

header h1 {
    display: inherit;
    margin: 0;
}

header nav {
    float: right;
    display: flex;
    align-items: center;
    height: 70px;
}

header nav li {
    list-style: none;
    float: left;
    margin: 0 10px;
}

header nav li a {
    text-decoration: none;
    color: #95bf0b;
    display: block;
    padding: 10px 20px;
}

.mat-flat-button.mat-primary,
.mat-raised-button.mat-primary,
.mat-fab.mat-primary,
.mat-mini-fab.mat-primary {
    background-color: #1dafd2 !important;
}

.mat-button {
    color: #95bf0b;
}

@media (max-width: 600px) {
    header img {
        width: 80px !important;
    }
    header .container {
        max-width: 100%;
        display: flex;
    }
}