<header>
    <div class="container">
        <a routerLink="/home" routerLinkActive="active">
            <h1><img src="../../assets/img/logo.png" /></h1>
        </a>
        <nav>
            <li><a routerLink="/home" routerLinkActive="active">Login</a></li>
            <li>
                <a routerLink="/adesao" routerLinkActive="active" class="btn btn_verde">ADESÃO</a
        >
      </li>
    </nav>
  </div>
</header>