.termos {
    float: left;
    margin: 60px 0 0 0;
}

.vinculo {
    max-width: 679px;
    float: initial;
    margin: 0 auto;
}

@media (max-width: 769px) {
    .form-check-input {
        position: absolute;
        margin-top: .3rem;
        margin-left: -1.25rem;
        width: initial;
    }
    .first-width {
        width: 100%;
    }
    .last-width {
        width: 100%;
    }
}