<h3>Insira os dados do seu vínculo familiar Titular Fusan</h3>
<form (submit)="ngOnInit()">
  <div class="vinculo">
    <div class="form-group first-width">
      <input
        (input)="onUserNomeChange($event.target.value)"
        name="playerName"
        value=""
        placeholder="Nome do Participante Fusan"
      />
      <small *ngIf="!nameError">Digite o nome do seu familiar.</small>
      <small *ngIf="nameError"
        ><b style="color: #cc1618; font-weight: 400;">Erro no campo nome! </b>
        nome valido.</small
      >
    </div>
    <div class="form-group last-width">
      <input
        (input)="onUserSobrenomeChange($event.target.value)"
        name="playerName"
        value=""
        placeholder="Sobrenome"
      />
      <small *ngIf="!sobrenomeError">Digite o sobrenome do seu familiar.</small>
      <small *ngIf="sobrenomeError"
        ><b style="color: #cc1618; font-weight: 400;"
          >Erro no campo sobrenome! </b
        >Digite um sobrenome valido.</small
      >
    </div>
    <div class="form-group first-width select">
      <select
        class="select-text"
        required
        (input)="onUserParentescoChange($event.target.value)"
      >
        <option value="Selecione" disabled>Selecione o parentesco</option>
        <option value="Pai">Pai</option>
        <option value="Mãe">Mãe</option>
      </select>
    </div>

    <div class="form-group last-width">
      <input
        (input)="onUserCPFChange($event.target.value)"
        [imask]="{ mask: '000.000.000-00' }"
        name="playerName"
        value="usercpf"
        placeholder="CPF do Titular Fusan *"
      />
    </div>
  </div>
  <div class="termos">
    <div class="form-check">
      <input
        (input)="onUserCheckChange($event.target.checked)"
        class="form-check-input"
        type="checkbox"
        value="check"
        id="defaultCheck1"
      />
      <label class="form-check-label" for="defaultCheck1">
        DECLARO para os devidos fins que as informações prestadas à FUSAN neste
        ato são verdadeiras, estando CIENTE da possibilidade do cancelamento
        unilateral da minha inscrição se verificada fraude ou incorreção dos
        dados apresentados.
      </label>
    </div>
  </div>
</form>
