<div class="beneficiarios">
  <h3>
    Informe os dados de seus beneficiários para o seu novo plano de previdência
  </h3>
  <button
    class="btn btn_azul-beneficiarios mgbutton"
    (click)="open(content)"
    [disabled]="adicionarBeneficiarioDisabled"
  >
    + ADICIONAR BENEFICIÁRIO
  </button>

  <hr />
  <ul class="beneficiadoslista">
    <li *ngFor="let todo of todoArray" style="position: relative">
      <span>{{ todo.nome }}</span> <span>{{ todo.parentesco }}</span>
      <span>{{ todo.beneficios }}%</span>
      <p (click)="removeTodo(this.todo)"><i class="fas fa-times icone"></i></p>
    </li>
  </ul>
</div>

<ng-template #content let-modal>
  <div class="modal-body">
    <form (submit)="ngOnInit()">
      <div class="form-group full-width">
        <input
          (input)="onChangeNome($event.target.value)"
          name="nome"
          [value]="nome"
          placeholder="Nome do beneficiário"
        />
        <small *ngIf="!nameError">Nome completo do beneficiário..</small>
        <small *ngIf="nameError"
          ><b style="color: #CC1618; font-weight: 400">Nome invalido!</b> Digite
          corretamente.</small
        >
      </div>
      <div class="form-group first-width">
        <input
          (input)="onChangeCpf($event.target.value)"
          name="CPF"
          [value]="cpf"
          [imask]="{ mask: '000.000.000-00' }"
          placeholder="CPF"
        />
        <small>CPF do beneficiário.</small>
      </div>
      <div class="form-group last-width">
        <input
          (input)="onChangeData($event.target.value)"
          name="date"
          [value]="date"
          type="date"
          placeholder="Data de nascimento"
        />
        <small>Data de nascimento.</small>
      </div>
      <div class="form-group first-width">
        <input
          (input)="onChangeCelular($event.target.value)"
          name="celular"
          [value]="celular"
          [imask]="{ mask: '(00) 0 0000-0000' }"
          placeholder="Celular"
        />
        <small>Celular do beneficiário.</small>
      </div>
      <div class="form-group last-width">
        <input
          (input)="onChangeEmail($event.target.value)"
          name="email"
          [value]="email"
          placeholder="E-mail"
        />
        <small *ngIf="!emailError">Email do beneficiário.</small>
        <small *ngIf="emailError" style="color:#CC1618"
          >Email está incorreto.</small
        >
      </div>
      <div class="form-group first-width">
        <input
          (input)="onChangeBeneficios($event.target.value)"
          name="beneficios"
          [value]="beneficios"
          [imask]="{ mask: '000' }"
          placeholder="Quantos % receberá do beneficio"
        />
        <small *ngIf="!beneficiosError">Valor beneficiário.</small>
        <small *ngIf="beneficiosError">Valor está incorreto.</small>
      </div>

      <div class="form-group select last-width">
        <select
          class="select-text"
          required
          (input)="onChangeParentesco($event.target.value)"
        >
          <option disabled>Parentesco</option>
          <option value="Filho">Filho</option>
          <option value="Esposa">Esposa</option>
          <option value="Pai">Pai</option>
          <option value="Mae">Mãe</option>
        </select>
        <small>Selecione o parentesco</small>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <a class="btn-cor-verde" (click)="modal.close('Save click')">
      Cancelar
    </a>

    <button
      type="button"
      class="btn btn_verde"
      (click)="addTodo()"
      (click)="modal.close('Save click')"
      [disabled]="disbaledAdd"
    >
      ADD BENEFICIÁRIO
    </button>
  </div>
</ng-template>
