.beneficiarios {
    text-align: center;
    margin: 20px 0 0;
}

.beneficiadoslista li {
    background: #F5F5F5;
    padding: 10px;
    color: #8B8B8B;
}

.beneficiadoslista li span {
    margin: 0 20px;
}

.mgbutton {
    display: inline-block;
    margin: 20px 0;
}

.beneficiadoslista li i {
    float: right;
    font-size: 13px;
    padding: 6px;
    list-style-type: decimal;
}

.modal-contrato strong {
    text-align: center;
}

.modal-contrato .modal-dialog {
    width: 1200px;
}

.modal-content {
    padding: 30px 20px !important;
}

@media (max-width: 769px) {
    ul.beneficiadoslista li {
        list-style-type: decimal;
        display: flex;
        align-items: center;
    }
    ul.beneficiadoslista {
        padding: 0;
    }
    a {
        word-break: break-word;
    }
    input[type=checkbox],
    input[type=radio] {
        width: auto;
    }
    .modal .btn_verde {
        width: 58%;
        font-size: 12px;
    }
    .beneficiariostb .wd50 {
        padding: 10px!important;
        text-align: center;
        width: 50%!important;
        background: #b3b3b3;
        color: #FFF !important;
        border-radius: 0;
        text-transform: uppercase;
    }
}

.beneficiadoslista {
    float: right;
    font-size: 13px;
    padding: 6px;
    list-style-type: decimal;
    position: absolute;
    right: 0;
    top: 45%;
}

ul.beneficiadoslista {
    list-style-type: decimal;
    align-items: center;
    position: relative;
    width: 100%
}

div#emailErrorMsgAdesaoModal {
    width: 315px;
    display: flex;
    height: 20px;
    align-items: baseline;
    margin-bottom: -20px;
}

.beneficiadoslista li p {
    padding: 0;
    margin: 0;
    position: absolute;
    right: 10px;
    top: 21%;
}

div#emailErrorMsgAdesaoModal p {
    color: #cc1618;
    font-size: 12px;
    margin: 0 6px;
}