<div id="wrap">
  <div class="preadesao">
    <h1>Solitação de Adesão</h1>
    <div class="box adesao">
      <div id="stepper1" class="bs-stepper">
        <div class="bs-stepper-header">
          <div class="step" data-target="#test-l-1">
            <button class="step-trigger userlogin">
              <span class="bs-stepper-circle"
                ><i class="fas fa-user-circle icone"></i>
              </span>
              <span class="bs-stepper-label">Dados Pessoais</span>
            </button>
          </div>
          <div class="step" data-target="#test-l-2">
            <button [disabled]="true" class="step-trigger">
              <span class="bs-stepper-circle"
                ><i class="far fa-lock-alt icone"></i
              ></span>
              <span class="bs-stepper-label">Acesso</span>
            </button>
          </div>
        </div>
        <div class="bs-stepper-content">
          <form (ngSubmit)="onSubmit()">
            <div id="test-l-1" class="content">
              <div class="content-tab">
                <app-solicitacao-adesao-dados-pessoais></app-solicitacao-adesao-dados-pessoais>
              </div>
              <div class="footertabs">
                <button
                  *ngIf="BtnDisabledOne"
                  (click)="next()"
                  class="btn_verde--disabled"
                  [disabled]="BtnDisabledOne"
                >
                  AVANÇAR <i class="fas fa-chevron-right"></i>
                </button>

                <button
                  *ngIf="!BtnDisabledOne"
                  (click)="next()"
                  class="btn_verde"
                >
                  AVANÇAR <i class="fas fa-chevron-right"></i>
                </button>
              </div>
            </div>
            <div id="test-l-2" class="content">
              <div class="content-tab">
                <app-solicitacao-adesao-acesso></app-solicitacao-adesao-acesso>
              </div>
              <div class="footertabs">
                <button
                  (click)="next()"
                  class="btn_verde--disabled"
                  [disabled]="BtnDisabledTwo"
                  *ngIf="BtnDisabledTwo"
                >
                  CONCLUIR
                </button>

                <a
                  routerLink="/solicitacao-adesao-concluido"
                  routerLinkActive="active"
                  class="btn_verde"
                  *ngIf="!BtnDisabledTwo"
                  >CONCLUIR</a
                >
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
