.bs-stepper-circle {
    display: inline-flex;
    align-content: center;
    justify-content: center;
    margin: .25rem;
    line-height: 1em;
    color: #C3C3C3;
    background: none !important;
    width: 100%;
}

#wrap {
    background: url(../../../assets/img/preadesao-login.jpg);
    background-position: right;
    background-size: cover;
    height: 100%;
}

.preadesao {
    width: 629px;
    margin: 0 auto;
}

.preadesao h1 {
    color: #FFF
}

.preadesao {
    color: #FFF;
}

.content-tab {
    padding: 40px 100px;
    float: left;
    width: 100%;
}

.mat-form-field {
    width: 100%;
}

.icone {
    font-size: 30px;
    display: block;
    margin-bottom: 10px;
}

.loginlabel {
    display: block;
}

.footertabs {
    width: 100%;
    margin-top: 20px;
    text-align: right;
}

.adesao .step {
    width: 49%;
    text-align: center;
    border-bottom: 2px solid #D0D0D0;
}

.adesao .step.active {
    border-bottom: 3px solid#005781
}

.bs-stepper-label {
    font-weight: 300;
}

.active .bs-stepper-label {
    color: #005781;
}

.active .bs-stepper-circle {
    color: #005781
}

@media (max-width: 769px) {
    #wrap {
        height: 100%;
    }
    .preadesao {
        width: 100%;
        margin: 0 auto;
        padding: 0 10px;
    }
    .bs-stepper .content.fade.active,
    .bs-stepper-pane.fade.active {
        display: flow-root;
    }
    .bs-stepper-header {
        margin: 0;
        text-align: center;
    }
    .content-tab {
        padding: 40px;
        float: left;
        width: 100%;
    }
    .footertabs .btn_verde {
        width: 100%;
        position: fixed;
        bottom: 0;
        left: 0;
    }
    .footertabs {
        width: 100% !important;
        display: flex !important;
        position: fixed;
        bottom: 0;
        left: 0;
        text-align: center
    }
}