<h3>Insira seu CEP</h3>
<form (submit)="ngOnInit()">
  <div class="form-group full-width">
    <input
      (input)="onUserCepChange($event.target.value)"
      name="playerName"
      placeholder="CEP"
      [imask]="{ mask: '00000-000' }"
    />
    <small *ngIf="!cepinvalid">Somente números</small>
    <small *ngIf="cepinvalid"
      ><b style="color: #cc1618">Erro!</b> CEP invalido.</small
    >
  </div>

  <div class="form-group first-width">
    <input
      (input)="onUserEndChange($event.target.value)"
      name="playerName"
      [value]="endValue"
      placeholder="Endereço"
    />
    <small>Informe o endereço da sua residência</small>
  </div>

  <div class="form-group last-width">
    <input
      (input)="onUserEndNumChange($event.target.value)"
      name="playerName"
      [value]="endNumValue"
      placeholder="Número"
    />
    <small>Informe o número da sua residência</small>
  </div>

  <div class="form-group first-width">
    <input
      (input)="onUserBairroChange($event.target.value)"
      name="playerName"
      [value]="bairroValue"
      placeholder="Bairro"
    />
  </div>
  <div class="form-group last-width">
    <input
      (input)="onUserCompChange($event.target.value)"
      name="playerName"
      value=""
      placeholder="Complemento"
    />
  </div>

  <div class="form-group first-width select">
    <select
      class="select-text"
      (input)="onUserEstadoChange($event.target.value)"
      required
    >
      <option value="Selecione" disabled>Estado</option>
      <option value="Acre">Acre</option>
      <option value="Paraná">Paraná</option>
    </select>
  </div>
  <div class="form-group last-width">
    <input
      (input)="onUserCidadeChange($event.target.value)"
      name="playerName"
      [value]="localidadeValue"
      placeholder="Cidade"
    />
  </div>
</form>
