<h3>
  Identificamos que o titular do perfil é menor de idade. Insira os dados do
  responsável legal.*
</h3>
<form (submit)="ngOnInit()">
  <div class="form-group full-width">
    <input
      (input)="onUserCpfChange($event.target.value)"
      name="userCpfnumber"
      [value]="usercpf"
      [imask]="{ mask: '000.000.000-00' }"
      placeholder="CPF * "
      required
      id="cpf-value"
    />
  </div>

  <div class="form-group full-width">
    <input
      (input)="onUserNomeChange($event.target.value)"
      name="userNome"
      [value]="usernome"
      placeholder="Nome Completo * "
      required
    />
  </div>

  <div class="form-group full-width select">
    <select
      class="select-text"
      (input)="onUserParentescoChange($event.target.value)"
      required
    >
      <option disabled selected>Parentesco</option>
      <option value="Pai">Pai</option>
      <option value="Mãe">Mãe</option>
      <option value="Avó">Avó</option>
      <option value="Avô">Avô</option>
    </select>
  </div>

  <div class="form-group first-width">
    <input
      (input)="onUserPhoneChange($event.target.value)"
      name="userPhoneNumber"
      [value]="userphone"
      [imask]="{ mask: '(00) 0 0000-0000' }"
      placeholder="Telefone * "
      required
    />
  </div>

  <div class="form-group last-width">
    <input
      (input)="onUserEmailChange($event.target.value)"
      name="userCpfnumber"
      [value]="useremail"
      type="email"
      pattern=".+@[a-z]+.com"
      size="30"
      placeholder="Email * "
      required
    />
  </div>
</form>
