<h3>Vamos iniciar sua adesão! Insira seus dados de contato.</h3>
<form (submit)="ngOnInit()">
  <div class="form-group full-width">
    <input
      (input)="onSearchChange($event.target.value)"
      name="userbirth"
      type="date"
      value=""
      placeholder="Data Nascimento *"
    />
    <small>Data de nascimento</small>
  </div>
  <div class="form-group full-width" *ngIf="!menorDeIdade">
    <input
      (input)="onUserRgChange($event.target.value)"
      name="playerName1"
      value=""
      [imask]="{ mask: '000000000000' }"
      placeholder="RG * "
    />
    <small> Obrigatório para maiores de idade</small>
  </div>

  <div class="form-group first-width select">
    <select
      class="select-text"
      (input)="onUserSexChange($event.target.value)"
      required
    >
      <option disabled selected>Gênero</option>
      <option value="Masculino">Masculino</option>
      <option value="Feminino">Feminino</option>
    </select>
  </div>
  <div class="form-group  last-width select">
    <select
      class="select-text"
      (input)="onUserStateChange($event.target.value)"
      required
    >
      <option disabled selected>Estado civil</option>
      <option value="Casado">Casado</option>
      <option value="Solteiro">Solteiro</option>
      <option value="Viúvo">Viúvo</option>
      <option value="Divorciado">Divorciado</option>
    </select>
  </div>
  <div class="form-group select">
    <select
      class="select-text"
      (input)="onUserNationalChange($event.target.value)"
      required
    >
      <option disabled selected>Nacionalidade</option>
      <option value="Brasileiro">Brasileiro</option>
    </select>
  </div>
</form>
