small {
  display: inline;
}

h3 {
  margin-bottom: 50px;
}

.inputRange {
  width: 88%;
  float: left;
}

.valorsimulacao p {
  width: 100%;
  display: block;
}

.valorsimulacao .valor,
.idade .idadeValor {
  width: 11%;
  float: right;
  border: 1px solid #b4b4b4;
  padding: 4px;
  min-height: 34px;
}

.idade {
  width: 100%;
  display: block;
  float: left;
  margin: 20px 0 0;
}

input[type="range"] {
  height: 27px;
  -webkit-appearance: none;
  border: none !important;
  width: 88%;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  height: 4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 1px #000000;
  background: #3071a9;
  border-radius: 5px;
  border: 0px solid #000000;
}

input[type="range"]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000;
  border: 2px solid #000000;
  height: 18px;
  width: 18px;
  border-radius: 50px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -8px;
}

input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #3071a9;
}

input[type="range"]::-moz-range-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 1px #000000;
  background: #3071a9;
  border-radius: 5px;
  border: 0px solid #000000;
}

input[type="range"]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000;
  border: 2px solid #000000;
  height: 18px;
  width: 18px;
  border-radius: 50px;
  background: #ffffff;
  cursor: pointer;
}

input[type="range"]::-ms-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type="range"]::-ms-fill-lower {
  background: #3071a9;
  border: 0px solid #000000;
  border-radius: 10px;
  box-shadow: 0px 0px 1px #000000;
}

input[type="range"]::-ms-fill-upper {
  background: #3071a9;
  border: 0px solid #000000;
  border-radius: 10px;
  box-shadow: 0px 0px 1px #000000;
}

input[type="range"]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 1px 1px 1px #000000;
  border: 2px solid #000000;
  height: 18px;
  width: 18px;
  border-radius: 50px;
  background: #ffffff;
  cursor: pointer;
}

input[type="range"]:focus::-ms-fill-lower {
  background: #3071a9;
}

input[type="range"]:focus::-ms-fill-upper {
  background: #3071a9;
}

@media (max-width: 769px) {
  input[type="range"] {
    height: 27px;
    -webkit-appearance: none;
    border: none !important;
    width: 58%;
  }
  span {
    font-size: 12px;
  }
  .valorsimulacao .valor,
  .idade .idadeValor {
    width: 39%;
    float: right;
    border: 1px solid #b4b4b4;
    padding: 4px;
    min-height: 34px;
  }
  #valor-mensal--input {
    width: 115px !important;
    margin: 0 3px 0;
  }

  #minvalue {
    position: absolute;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0px 6px 23px #3131313c;
    background: #d73939;
    color: #fff;
    left: -149px;
    top: -99px;
    transition: 0.3s linear;
  }

  #minvalue::before {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #d73939;
    content: "";
    position: absolute;
    left: 74%;
    transform: translateX(-50%);
    bottom: -19px;
    transition: 0.3s linear;
  }
}

#box-value {
  display: flex;
  align-items: center;
  position: relative;
  left: 12px;
}

#valor-mensal--input {
  border: 1px solid #717171 !important;
  width: 115px;
  height: 34px;
  margin: 0;
  padding: 0 9px;
}

#minvalue {
  position: absolute;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0px 6px 23px #3131313c;
  background: #d73939;
  color: #fff;
  left: -73px;
  top: -99px;
  transition: 0.3s linear;
}

#minvalue::before {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #d73939;
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -19px;
  transition: 0.3s linear;
}
