<div class="contribuicao">
  <h3>Informe os valores que deseja aplicar no plano de previdência</h3>
  <form class="example-form">
    <div class="valorsimulacao">
      <span> VALOR DA CONTRIBUIÇÃO MENSAL* <small>(em reais)</small></span>
      <div>
        <input
          type="range"
          [value]="rangeValue"
          class="inputRange"
          max="10000"
          min="50"
          step="1"
          (input)="onChangeInput($event.target.value)"
        />
        <div id="box-value">
          <p id="minvalue" *ngIf="lessthan50">
            O valor mínimo é de R$ 50,00 e
            <br />
            o máximo é de R$ 10.000,00.
          </p>
          <input
            id="valor-mensal--input"
            (input)="onChangeInput($event.target.value)"
            [value]="rangeValueFmt"
            placeholder="R$ 50,00"
          />
        </div>
      </div>
    </div>
    <div class="idade">
      <span>Idade para entrada em benefício*</span>
      <div>
        <input
          type="range"
          [value]="idadeRange"
          class="inputRange"
          (input)="onChangeInputValor($event.target.value)"
        />
        <div id="box-value">
          <input
            id="valor-mensal--input"
            (input)="onChangeInputValor($event.target.value)"
            [value]="idadeRange"
            [imask]="{ mask: '00' }"
          />
        </div>
      </div>
    </div>
  </form>
</div>
