#wrap {
    display: inline-flex;
    align-items: center;
    width: 100%!important;
    background: url(../../../assets/img/sucesso-pre.jpg);
    background-position: right;
    background-size: cover;
    min-height: 100%;
}

#wrap .adesao-concluido span,
#wrap h2 {
    color: #FFF;
}

.adesao-concluido {
    width: 629px;
    margin: 0 auto;
    text-align: center;
}

.adesao-concluido i {
    font-size: 40px;
    color: #95BF0B;
}

.adesao-concluido h2 {
    font-weight: 500
}

.adesao-concluido span {
    margin-top: -7px;
    margin-bottom: 15px;
    display: block;
}

@media (max-width: 769px) {
    .adesao-concluido {
        width: 100%;
        margin: 0 auto;
        text-align: center;
        padding: 0 20px;
    }
}