<div id="wrap">
    <div class="adesao-concluido">
        <i class="far fa-check-circle"></i>
        <h2>Solitação concluída!</h2>
        <span>Acesse o link de verificação em seu email para seguir o cadastro.</span>
    </div>
</div>