.preadesao {
    width: 629px;
    margin: 0 auto;
}

#wrap {
    display: flex;
    height: calc(100% - 80px);
    align-items: center;
    background: url(../../../assets/img/preadesao-bg.jpg);
    background-position: right;
    background-size: cover;
}

#wrap h1 {
    color: #FFF;
    width: 100%;
    text-align: center;
    font-weight: 400;
    font-size: 25px;
}

#wrap span {
    color: #9b9b9b;
    text-align: center;
    width: 100%;
    display: inline-block;
    text-align: left;
    font-size: 12px;
    margin-top: 0;
    display: block;
    margin-bottom: 35px;
}

#wrap p {
    text-align: center;
    color: #FFF;
}

#wrap span a {
    color: #9b9b9b;
    font-weight: 500;
}

.adesao button {
    text-align: center;
    display: block;
    color: #fff;
}

.adesao h1 {
    font-size: 27px;
}

.adesao input.full-width {
    width: 100%;
}

.adesao .mat-form-field {
    width: 100%;
}

.adesao {
    padding: 40px 70px;
    box-sizing: border-box;
    margin: 0 10px;
}


/* mobile  */

@media (max-width: 600px) {
    #wrap {
        align-items: inherit !important;
    }
    #adesao {
        width: 100%;
    }
    .loginContent {
        width: 100%;
        margin: 0 10px 0 10px;
    }
    #wrap span {
        width: 100%;
        font-size: 13px;
    }
    #wrap h1 {
        width: 100%;
    }
    .adesao button {
        width: 100%;
    }
}