<div id="wrap">
  <div class="preadesao">
    <h1>Adesão</h1>
    <p>Informe seu CPF no campo abaixo para continuar</p>
    <div class="box adesao">
      <form (submit)="ngOnInit()">
        <input
          [(ngModel)]="usercpf"
          name="usercpf"
          value=""
          [imask]="{ mask: '000.000.000-00' }"
          placeholder="CPF"
        />
        <span> Somente números</span>

        <ng-container *ngIf="ngOnInit() === 'valid'">
          <button
            type="submit"
            class="btn_verde--cpf"
            style="background-color: #ccc !important; border: none;"
            [disabled]="true"
          >
            AVANÇAR
          </button>
        </ng-container>

        <ng-container *ngIf="ngOnInit() !== 'valid'">
          <button type="submit" class="btn_verde--link">
            <a
              routerLink="/preadesao"
              routerLinkActive="active"
              [queryParams]="{ params: usercpf }"
            >
              AVANÇAR
            </a>
          </button>
        </ng-container>
      </form>
    </div>
  </div>
</div>
