.tabsTributacao .first-width {
  width: 49%;
  box-sizing: border-box;
  float: left;
  margin-bottom: 50px;
}

.tabsTributacao .last-width {
  width: 49%;
  box-sizing: border-box;
  float: right;
  margin-bottom: 50px;
}

.opcoesTributacao {
  width: 100%;
  float: left;
}

.tabsTributacao small {
  margin: 0 0 -4px !important;
  font-size: 16px;
  color: #444;
}

.tabsTributacao label {
  color: #005781;
  font-size: 15px;
  font-weight: 500;
}

.tabsTributacao .form-check-inline .form-check-input {
  display: inline-block;
  width: 20px;
  margin-top: 10px;
  float: left;
}

.tabsTributacao h3 {
  font-size: 17px;
}

.tabsTributacao h3,
.tabsTributacao span.title {
  display: block;
  text-align: center;
  width: 100%;
}

.tabsTributacao span.title {
  margin: -7px 0 35px;
  font-weight: 300;
}

.tabsTributacao .card {
  width: 100% !important;
}

.tabsTributacao ul li {
  margin: 0 0;
  border-bottom: 1px solid #919191;
  height: auto !important;
  color: #717171;
  padding: 13px 0 !important;
  list-style: none;
}

.tabsTributacao table {
  width: 100%;
  box-shadow: none;
  margin: 50px 0 0 0;
}

.tabsTributacao table thead tr {
  background: #005781;
  color: #fff !important;
  border-radius: 10px;
}

.mat-header-cell {
  color: #fff !important;
}

@media (max-width: 769px) {
  .tabsTributacao .first-width {
    width: 100%;
    float: initial;
    padding: 0 0 !important;
    margin: 0;
  }
  .content-tab {
    padding: 40px 10px;
  }
  .tabsTributacao .last-width {
    width: 100%;
    float: initial;
    padding: 40px 10px !important;
  }
  .tabsTributacao label {
    font-size: 12px;
    font-weight: 500;
  }
}
