<div class="tabsTributacao">
  <h3>
    A escolha do tipo de tributação é em caráter definitivo e não poderá ser
    alterada posteriormente.
  </h3>
  <span class="title">
    Para escolher o tipo mais indicado para você, selecione a descrição mais
    próxima dos seus objetivos:</span
  >
  <form (submit)="ngOnInit()">
    <div class="form-check form-check-inline first-width">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <input
            (input)="onUserOneChange($event.target.checked)"
            class="form-check-input"
            type="radio"
            name="inlineRadioOptions"
            id="inlineRadio1"
            value="option1"
          />
          <label class="form-check-label" for="inlineRadio1">
            <small>Regime Tributário</small>
            PROGRESSIVO COMPENSÁVEL
          </label>
          <ul class="list-group">
            <li>Baseia-se no valor de renda ou do resgate recebido.</li>
            <li>
              O imposto de renda retido não é definitivo, ou seja, o ajuste
              anual pode reduzir, aumentar ou manter o imposto pago.
            </li>
            <li>
              Permite deduções filhos, esposa(o), médico, instrução e os
              aposentados acima de 65 anos de idade podem abater o valor de
              R$1.903,98, conforme tabela vigente em 2015.
            </li>
            <li>Existe faixa de isenção.</li>
            <li>
              Sobre o valor de resgate incide retenção na fonte de 15%, a título
              de antecipação compensável na declaração anual, mais o
              recolhimento de 12,50%.
            </li>
            <li>Quanto maior o valor da renda, maior será a retenção no IR.</li>
          </ul>

          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Base de Cálculo</th>
                <th scope="col">Alíquota</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let bs of base; index as i">
                <td>{{ bs.base }}</td>
                <td>{{ bs.aliquota }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="form-check form-check-inline  last-width">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <input
            (input)="onUserTwoChange($event.target.checked)"
            class="form-check-input"
            type="radio"
            name="inlineRadioOptions"
            id="inlineRadio2"
            value="option2"
          />
          <label class="form-check-label" for="inlineRadio2">
            <small>Regime Tributário</small>
            PROGRESSIVO COMPENSÁVEL
          </label>
          <ul class="list-group">
            <li>Baseia-se no valor de renda ou do resgate recebido.</li>
            <li>
              O imposto de renda retido não é definitivo, ou seja, o ajuste
              anual pode reduzir, aumentar ou manter o imposto pago.
            </li>
            <li>
              Permite deduções filhos, esposa(o), médico, instrução e os
              aposentados acima de 65 anos de idade podem abater o valor de
              R$1.903,98, conforme tabela vigente em 2015.
            </li>
            <li>Existe faixa de isenção.</li>
            <li>
              Sobre o valor de resgate incide retenção na fonte de 15%, a título
              de antecipação compensável na declaração anual, mais o
              recolhimento de 12,50%.
            </li>
            <li>Quanto maior o valor da renda, maior será a retenção no IR.</li>
          </ul>

          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Base de Cálculo</th>
                <th scope="col">Alíquota</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let acun of acum; index as i">
                <td>{{ acun.base }}</td>
                <td>{{ acun.aliquota }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </form>
</div>
