<div id="wrap">
  <div class="adesao-concluido ">
    <div class="box adesao">
      <div class="adesao-concluido-inner">
        <i class="far fa-check-circle"></i>
        <h2>Adesão realizada com sucesso!</h2>
        <p>
          Os documentos do plano e o certificado de adesão foram enviados para
          seu e-mail e também estão disponíveis no seu painel
        </p>
        <div class="footertabs">
          <button id="btnprop" class="btn btn_azul">EMITIR BOLETO</button>
        </div>
      </div>
    </div>
  </div>
</div>
