#wrap {
  display: inline-flex;
  align-items: center;
  height: calc(100% - 180px);
  width: 100% !important;
}

.adesao-concluido {
  width: 629px;
  margin: 0 auto;
  text-align: center;
}

.adesao-concluido-inner {
  padding: 120px 40px;
}

.adesao-concluido i {
  font-size: 40px;
  color: #95bf0b;
}

.adesao-concluido-inner i {
  padding: 20px 0;
}

.adesao-concluido h2 {
  font-weight: 500;
}

.adesao-concluido span {
  margin-top: -7px;
  margin-bottom: 15px;
  display: block;
}

.footertabs {
  text-align: center;
}
@media (max-width: 789px) {
  #btnprop {
    height: 50px !important;
    position: absolute !important;
    width: 50% !important;
    padding: 12px 0 !important;
    border-radius: 6px !important;
    top: 0 !important;
  }

  .footertabs {
    width: 100%;
    position: relative;
  }
}
