.termos h3 span {
  text-decoration: underline;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: "";
}

h3 {
  text-align: left;
  margin: 0 0 30px;
  display: inline-block;
}

.termos p strong {
  color: #005781;
}

.mat-radio-button {
  margin: 0 5px;
}

.form-check-inline .form-check-input {
  width: 13px;
}

.info {
  margin-top: 30px;
  display: inline-block;
}

.info p {
  margin: 0px;
}

.info .form-check .form-check {
  margin: 0 0 20px;
}

@media (max-width: 769px) {
  input[type="checkbox"],
  input[type="radio"] {
    width: auto;
  }
}

#nif-option {
  display: flex;
  align-items: center;
}

#nif-option input {
  width: 30%;
}

/* #nif-option select {
  width: 172px;
  height: 32px;
  margin: 0 26px;
} */

#include-btn {
  border: none;
  border-radius: 8px;
  padding: 8px 26px;
  color: #fff;
  background-color: #717171;
}

#include-select {
  border-radius: 8px;
  border: 1px solid #717171;
  padding: 8px 12px;
  height: 37px !important;
  width: 250px !important;
}

#nif-component {
  margin-top: 64px;
}

.select-text {
  position: relative;
  font-family: inherit;
  background-color: transparent;
  width: 80%;
  padding: 15px 10px 8px 0;
  border-radius: 0;
  color: #717171;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  margin: 0 23px;
}

/* Remove focus */

.select-text:focus {
  outline: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0);
}

/* Use custom arrow */

.select .select-text {
  appearance: none;
  -webkit-appearance: none;
}

.select:after {
  position: absolute;
  top: 28px;
  right: 10px;
  /* Styling the down arrow */
  width: 0;
  height: 0;
  padding: 0;
  content: "";
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid rgba(0, 0, 0, 0.12);
  pointer-events: none;
}

/* active state */

.select-text:focus ~ .select-label,
.select-text:valid ~ .select-label {
  color: #2f80ed;
  top: -20px;
  transition: 0.2s ease all;
  font-size: 14px;
}

@media (max-width: 769px) {
  #nif-option {
    display: block;
    align-items: center;
    margin: 20px 0;
  }

  #nif-option input {
    width: 100%;
    margin: 12px 0 20px 0;
  }

  /* #include-select {
    border-radius: 8px;
    border: 1px solid #717171;
    padding: 8px 12px;
    height: 37px !important;
    width: 100% !important;
    margin: 0 !important;
  } */

  #include-btn {
    border: none;
    border-radius: 8px;
    padding: 8px 26px;
    color: #fff;
    background-color: #717171;
    width: 100%;
    margin: 32px 0;
  }

  #nif-component {
    margin: 0;
    padding: 0;
  }

  .select-text {
    position: relative;
    font-family: inherit;
    background-color: transparent;
    width: 100%;
    padding: 15px 10px 8px 0;
    border-radius: 0;
    color: #717171;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    margin: 0;
  }

  .info-modal {
    padding: 105px 32px !important;
  position: fixed !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  background: #FFF !important;
  border-radius: 8px !important;
  box-shadow: 0px 3px 8px #31313145 !important;
  width: 100% !important;
  height: 103% !important;
  z-index: 3 !important;
  }

  .info-button__close {
    border: none !important;
    background: #CC1618 !important;
    top: 3px !important;
    position: absolute !important;
    right: 3 !important;
    font-size: 20px !important;
    color: #fff !important;
    border-radius: 100% !important;
    padding: 0 12px 3px 12px !important;
    box-shadow: 0px 6px 3px #31313145 !important;
  }

  #saibamais {
    position: absolute;
    width: 95px;
    right: 31px;
  }

}

.help-icon {
  cursor: pointer;
}

.help-icon:hover {
  color: #17668c;
}

small {
  color: #17668c !important;
}


.info-modal {
  padding: 32px;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  border-radius: 8px;
  box-shadow: 0px 3px 8px #31313145;
  width: 480px;
}

.info-btn {
  display: flex;
}

.info-btn button {
  border: none;
  background: transparent;
  margin: 0 8px;
}

.info-btn button small {
  color: #7b898f;
}

.info-modal--div button{
  border: none;
  background: transparent;
}
.info-button__close {
  border: none;
  background: #CC1618;
  top: -11px;
  position: absolute;
  right: -7px;
  font-size: 20px;
  color: #fff;
  border-radius: 100%;
  padding: 0 12px 3px 12px;
  box-shadow: 0px 6px 3px #31313145;
}

.info-btn button small:hover {
  color: #35393c !important;
}
