<div class="termos">
  <h3>
    <span>Filiação à ABRAPP </span>– Associação Brasileira das Entidades
    Fechadas de Previdência Complementar (sem custos).
  </h3>

  <div class="termos">
    <div class="form-group form-check">
      <input
        type="checkbox"
        class="form-check-input"
        id="exampleCheck1"
        (input)="onChangeOptone($event.target.checked)"
      />
      <label class="form-check-label" for="exampleCheck1">
        Declaro para os devidos fins ter CIÊNCIA de que os dados pessoais
        coletados no processo de adesão ao plano de benefícios setorial Viva
        Mais Previdência estão de acordo com a finalidade, adequação e
        necessidade, tendo como bases legais para tratamento a necessidade de
        execução de contrato e o cumprimento de obrigações legais junto aos
        órgãos reguladores, nos termos da Lei Geral de Proteção de Dados - LGPD
      </label>
    </div>
  </div>

  <div class="termos">
    <div class="form-group form-check">
      <input
        type="checkbox"
        class="form-check-input"
        id="exampleCheck2"
        (input)="onChangeOptTwo($event.target.checked)"
      />
      <label class="form-check-label" for="exampleCheck2">
        ASSUMO a responsabilidade legal pelas informações prestadas neste
        processo de adesão ao plano de benefício setorial Viva Mais Previdência,
        DECLARANDO de forma irrevogável e irretratável que tive prévio acesso ao
        Regulamento do plano, ao Estatuto da FUSAN e ao Material Explicativo do
        plano de benefícios.
      </label>
    </div>
  </div>
  <div class="info">
    <div class="form-group">
      <div class="info-btn">
        <p>VOCÊ É UM <strong>US PERSON </strong>?</p>
        <button (click)="openOneModal()">
          <small>Saiba mais</small>
        </button>
      </div>
      <div class="form-check form-check-inline">
        <input
          class="form-check-input"
          type="radio"
          name="inlineRadioOptions1"
          id="inlineRadio1"
          (input)="onChangeOptUsPersonYes($event.target.value)"
          value="Sim"
        />
        <label class="form-check-label" for="inlineRadio1">SIM</label>
      </div>
      <div class="form-check form-check-inline">
        <input
          class="form-check-input"
          type="radio"
          name="inlineRadioOptions1"
          id="inlineRadio2"
          value="Nao"
          (input)="onChangeOptUsPersonNo($event.target.value)"
        />
        <label class="form-check-label" for="inlineRadio2">NÃO</label>
      </div>
    </div>
    <div class="form-group">
      <div class="info-btn">
        <p>VOCÊ É UMA <strong>PESSOA POLITICAMENTE EXPOSTA </strong>?</p>
        <button (click)="openTwoModal()">
          <small id="saibamais">Saiba mais</small>
        </button>
      </div>
      <div class="form-check form-check-inline">
        <input
          class="form-check-input"
          type="radio"
          name="inlineRadioOptions2"
          id="inlineRadio3"
          (input)="onChangeOptPoliticoYes($event.target.value)"
          value="Sim"
        />
        <label class="form-check-label" for="inlineRadio3">SIM</label>
      </div>
      <div class="form-check form-check-inline">
        <input
          class="form-check-input"
          type="radio"
          name="inlineRadioOptions2"
          id="inlineRadio4"
          (input)="onChangeOptPoliticoNo($event.target.value)"
          value="Nao"
        />
        <label class="form-check-label" for="inlineRadio4">NÃO</label>
      </div>
    </div>
    <div class="form-group">
      <p>Possui Residência Fiscal em outros países?</p>
      <div class="form-check form-check-inline">
        <input
          class="form-check-input"
          type="radio"
          name="inlineRadioOptions3"
          id="inlineRadio5"
          (input)="onChangeOptMoraForaYes($event.target.value)"
          value="Sim"
        />
        <label class="form-check-label" for="inlineRadio5">SIM</label>
      </div>
      <div class="form-check form-check-inline">
        <input
          class="form-check-input"
          type="radio"
          name="inlineRadioOptions3"
          id="inlineRadio6"
          (input)="onChangeOptMoraForaNo($event.target.value)"
          value="Nao"
        />
        <label class="form-check-label" for="inlineRadio6">NÃO</label>
      </div>
      <div id="nif-option" *ngIf="newopt">
        <input
          type="text"
          (input)="onChangeNif($event.target.value)"
          [imask]="{ mask: '00000000' }"
          placeholder="NIF"
          [value]="usernifnumber"
        />
        <select
          class="select-text"
          (input)="onChangeCountry($event.target.value)"
          [value]="usernifcountry"
        >
          <option value="default" selected disabled>Selecione um país</option>
          <option value="EUA">EUA</option>
          <option value="Canada">Canada</option>
          <option value="Japao">Japao</option>
          <option value="Argentina">Argentina</option>
          <option value="Russia">Russia</option>
        </select>
        <button id="include-btn" *ngIf="btnlock">
          INCLUIR
        </button>
        <button
          id="include-btn"
          (click)="incluirNif()"
          style="background-color: #95bf0b"
          *ngIf="!btnlock"
        >
          INCLUIR
        </button>
      </div>

      <div *ngIf="newopt">
        <ul id="nif-component">
          <li
            *ngFor="let item of nifarr"
            style="display: flex;
          justify-content: space-evenly;
          align-items: center;
          background: #F5F5F5;
          padding: 12px 0 8px 0;"
          >
            <p style="color: #8B8B8B">{{ item.number }}</p>
            <p style="color: #8B8B8B">{{ item.country }}</p>
            <p (click)="removeTodo(this.item)">
              <i
                style="font-size: 16px;
              margin: 0;
              cursor: pointer;"
                class="fas fa-times icone"
              ></i>
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="info-modal" *ngIf="!tiponedisabled">
    <h2>O que é US Person</h2>
    <p>Você é um US Person se possui alguma dessas características:</p>
    <ul>
      <li>
        Cidadania norte-americana, incluido os dentetores de dupla nacionalidade
        e passaporte norte-americano, ainda que residam fora dos Estados Unidos
      </li>
      <li>
        Residência fiscal nos EUA, ou seja, que possuam Green Card e que possa
        se tornar um residente permanente legal.
      </li>
      <li>
        Presença física nos Estados Unidos para fins tributários por pelo menos:
        31 dias durante o ano corrente ou 183 dias nos últimos 3 anos.
      </li>
    </ul>
    <button (click)="closeOneModal()" class="info-button__close">x</button>
  </div>

  <div class="info-modal" *ngIf="!tiptwodisabled">
    <h2>O que é Pessoa Politicamente exposta (PPE) ?</h2>
    <p>
      Pessoas Politicamente Expostas (PPE) são os agentes públicos que
      desempenham ou tenham desempenhado, nos últimos cinco anos, no Brasil ou
      em países, territórios e depêndencias estrageiros, cargos, empregos ou
      funções públicas relevantes, familiares e outras pessoas de seu
      relacionamento próximo.
    </p>
    <button (click)="closeTwoModal()" class="info-button__close">x</button>
  </div>
</div>
