.imagemLogin {
    background: url(../../../assets/img/imglogin.jpg) no-repeat center right;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 50%;
    height: 88vh;
    overflow: visible;
}

.loginContent {
    width: 629px;
    margin: 0 0 0 50px;
}

#login {
    width: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-items: center;
}

#wrap-index {
    display: flex !important;
    height: calc(100% - 99px);
    align-items: center;
    overflow: hidden;
}

#wrap-index h1 {
    color: #005781;
    width: 80%;
    text-align: center;
    font-weight: 400;
    font-size: 25px;
}

#wrap-index span {
    color: #9b9b9b;
    text-align: center;
    width: 80%;
    display: inline-block;
}

#wrap-index span a {
    color: #9b9b9b;
    font-weight: 500;
}

.login {
    width: 80%;
    padding: 50px;
    margin: 10px 0;
    box-sizing: border-box;
}

.login button {
    text-align: center;
    margin: 0 auto;
    display: block;
}

.login h1 {
    font-size: 27px;
}

.login input.full-width {
    width: 100%;
}

.login .mat-form-field {
    width: 100%;
}


/* mobile  */

@media (max-width: 769px) {
    #wrap-index {
        display: initial !important;
    }
    .imagemLogin {
        display: none;
    }
    .login {
        width: 100%;
        display: flow-root;
    }
    #login {
        width: 100%;
        height: calc(100% - 180px);
    }
    .loginContent {
        width: 100%;
        margin: 0 10px 0 10px;
    }
    .login {
        width: 100%;
    }
    #wrap-index span {
        width: 100%;
        font-size: 13px;
    }
    #wrap-index h1 {
        width: 100%;
    }
    .wrapheight {
        display: flex !important;
    }
    .login button {
        text-align: center;
        margin: 15px auto 0;
        display: inline-block;
        width: 100%;
        cursor: pointer;
    }
    .login button {
        text-align: center;
        margin: 15px auto 0;
        display: inline-block;
        width: 100%;
        cursor: pointer;
        position: fixed;
        bottom: 0;
        left: 0;
    }
}