<div id="wrap-index" class="wrapheight">
  <div class="imagemLogin"></div>
  <div id="login">
    <div class="loginContent">
      <h1>Login</h1>
      <form class="box login" (submit)="ngOnInit()">
        <div class="form-group full-width">
          <input
            placeholder="CPF"
            name="usercpf"
            [imask]="{ mask: '000.000.000-00' }"
            value="usercpf"
            type="text"
            (input)="validLoginCpf($event.target.value)"
          />
          <small>Somente Números</small>
        </div>
        <div class="form-group full-width">
          <input
            placeholder="Senha"
            name="passw"
            value="userpassw"
            type="password"
            (input)="validLoginPassw($event.target.value)"
          />
        </div>
        <button
          *ngIf="!btnlogin"
          type="submit"
          class="btn_verde--disabled"
          [disabled]="!btnlogin"
        >
          ENTRAR
        </button>
        <button *ngIf="btnlogin" type="submit" class="btn_verde">
          <a routerLink="/home" routerLinkActive="active">
            ENTRAR
          </a>
        </button>
      </form>
      <span>
        Ainda não tem conta?
        <a routerLink="/usercpf" routerLinkActive="active">
          Cadastre-se grátis
        </a>
      </span>
    </div>
  </div>
</div>
