/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~bs-stepper/dist/css/bs-stepper.min.css";
@import "./assets/css/all.min.css";
@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap");
html,
body {
    height: 100%;
    margin: 0;
    background: #f5f5f5;
    font-family: "Roboto", sans-serif;
}

input {
    border-bottom: 1px solid #d0d0d0 !important;
    border-top: 0 !important;
    border-left: 0 !important;
    border-right: 0 !important;
    background: none !important;
    width: 100%;
    padding: 15px 0 5px 0;
}

p {
    color: #8b8b8b;
}

h2 {
    font-size: 30px;
}

.box {
    background: #ffffff 0% 0% no-repeat !important;
    box-shadow: 0px 0px 20px #0000000f;
    border-radius: 10px;
    opacity: 0.9;
}

.form-group {
    float: left;
    width: 100%;
}

.btn {
    background: #1dafd2 0% 0% no-repeat;
    box-shadow: 0px 0px 15px #2c2c2c38;
    border-radius: 5px;
    opacity: 1;
    padding: 10px 35px;
}

.btn_verde {
    background: #95bf0b 0% 0% no-repeat !important;
    border-radius: 5px;
    opacity: 1;
    padding: 10px 20px;
    color: #fff !important;
    border: none;
}

.btn_verde--cpf {
    background: #95bf0b 0% 0% no-repeat !important;
    border-radius: 5px;
    opacity: 1;
    padding: 10px 20px;
    color: #fff !important;
    border: none;
}

.btn_verde--disabled {
    background-color: #ccc;
    border-radius: 5px;
    opacity: 1;
    padding: 10px 20px;
    color: #fff !important;
    border: none;
}

.btn_verde:disabled {
    background-color: #ccc;
    border-radius: 5px;
    opacity: 1;
    padding: 10px 20px;
    color: #fff !important;
    border: none;
}

.btn_verde--link {
    background: #95bf0b 0% 0% no-repeat !important;
    border-radius: 5px;
    opacity: 1;
    color: #fff !important;
    border: none;
    padding: 10px 8px;
}

.btn_verde--link a {
    color: #fff;
    text-decoration: none !important;
    padding: 12px 12px;
}

.btn_verde a {
    color: #fff;
    text-decoration: none !important;
}

.btn_verde a:hover {
    color: #fff;
    text-decoration: none !important;
}

.btn_azul {
    background: #1dafd2;
    color: #fff !important;
}

.btn_azul-beneficiarios {
    background: #1dafd2;
    color: #fff !important;
}

.btn-cor-verde {
    padding: 10px 20px;
    color: #95bf0b !important;
}

h1 {
    width: 100%;
    text-align: center;
    font-size: 27px;
    color: #005781;
    font-weight: 400;
}

h3 {
    font-size: 14px;
    font-weight: 500;
    color: #505050;
}

small {
    display: block;
    color: #9b9b9b;
}

#wrap {
    padding-top: 50px;
}

.full-width {
    width: 100%;
    float: left;
    margin: 5px 0;
}

.first-width {
    width: 49%;
    float: left;
    margin: 5px 0;
}

.last-width {
    width: 49%;
    float: right;
    margin: 5px 0;
}

.select {
    position: relative;
}

.select-text {
    position: relative;
    font-family: inherit;
    background-color: transparent;
    width: 100%;
    padding: 15px 10px 5px 0;
    border-radius: 0;
    color: #717171;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}


/* Remove focus */

.select-text:focus {
    outline: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0);
}


/* Use custom arrow */

.select .select-text {
    appearance: none;
    -webkit-appearance: none;
}

.select:after {
    position: absolute;
    top: 28px;
    right: 10px;
    /* Styling the down arrow */
    width: 0;
    height: 0;
    padding: 0;
    content: "";
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid rgba(0, 0, 0, 0.12);
    pointer-events: none;
}


/* active state */

.select-text:focus~.select-label,
.select-text:valid~.select-label {
    color: #2f80ed;
    top: -20px;
    transition: 0.2s ease all;
    font-size: 14px;
}


/* BOTTOM BARS ================================= */

.select-bar {
    position: relative;
    display: block;
    width: 350px;
}

.select-bar:before,
.select-bar:after {
    content: "";
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #2f80ed;
    transition: 0.2s ease all;
}

.select-bar:before {
    left: 50%;
}

.select-bar:after {
    right: 50%;
}


/* active state */

.select-text:focus~.select-bar:before,
.select-text:focus~.select-bar:after {
    width: 50%;
}


/* HIGHLIGHTER ================================== */

.select-highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}

.content-tab h3 {
    text-align: center;
}

input:focus,
select:focus,
textarea:focus {
    outline: 0;
    border-bottom: 1px solid #95bf0c !important;
}

.modal-content {
    padding: 50px 70px;
}

.modal-dialog {
    max-width: 730px;
}

input[type="checkbox"],
input[type="radio"] {
    width: auto;
}

@media (max-width: 769px) {
    .modal-content {
        padding: 50px 10px !important;
    }
    #wrap-index .btn_verde {
        width: 100%;
        position: fixed;
        bottom: 0;
        left: 0;
    }
    .btn_verde--disabled {
        width: 100%;
    }
    .btn_verde {
        width: 100%;
    }
    .btn_azul {
        background: #1dafd2;
        color: #fff !important;
        position: absolute;
        z-index: 999;
        top: -120px;
        left: 50%;
        transform: translateX(-50%);
    }
}

.group {
    position: relative;
    margin-bottom: 25px;
    width: 100%;
    float: left;
}

.group input,
.group textarea {
    font-size: 14px;
    padding: 20px 20px 10px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid #757575;
    background: #efefef;
    border-radius: 5px !important;
}

.group textarea {
    position: relative;
    max-width: 100%;
    height: 6em;
    height: calc(1.6em * 3 + 20px);
    line-height: 1.6em;
    overflow: auto;
}

.group input:focus,
.group textarea:focus {
    outline: none;
}


/* LABEL ======================================= */

.group label,
.group input:placeholder-shown~label,
.group textarea:placeholder-shown~label {
    color: #999;
    font-size: 14px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 10px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
    z-index: 1;
}


/* active state */


/* changed from input:valid to a state which check if input is empty*/

.group input:focus~label,
.group textarea:focus~label,
.group input:not(:placeholder-shown)~label,
.group textarea:not(:placeholder-shown)~label {
    top: 5px;
    font-size: 10px;
}


/* BOTTOM BARS ================================= */

.group .bar {
    position: relative;
    display: block;
    width: 100%;
}

.group .bar:before,
.group .bar:after {
    content: "";
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #5264ae;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.group .bar:before {
    left: 50%;
}

.group .bar:after {
    right: 50%;
}


/* active state */

.group input:focus~.bar:before,
.group input:focus~.bar:after,
.group textarea:focus~.bar:before,
.group textarea:focus~.bar:after {
    width: 50%;
}

button[type="submit"]:disabled {
    background: #908f8f !important;
}

.btn_verde:disabled {
    background: #908f8f !important;
}


/* ANIMATIONS ================ */


/* changed Keyframes from animating the background to opacity */

@-webkit-keyframes inputHighlighter {
    from {
        opacity: 0.5;
    }
    to {
        width: 0;
        opacity: 0;
    }
}

@-moz-keyframes inputHighlighter {
    from {
        opacity: 0.5;
    }
    to {
        width: 0;
        opacity: 0;
    }
}

@keyframes inputHighlighter {
    from {
        opacity: 0.5;
    }
    to {
        width: 0;
        opacity: 0;
    }
}

.btn.disabled,
.btn:disabled {
    background: #908f8f !important;
}

.adesao .step.active {
    font-weight: 700 !important;
    border-bottom: 3px solid #18678d !important;
}

.modal-backdrop.show {
    opacity: .8 !important;
}

.modal-backdrop {
    background: #005781;
}