<h3>
  Crie uma senha para seu acesso a plataforma
</h3>
<form (submit)="ngOnInit()">
  <div class="form-group full-width">
    <input
      (input)="onUserPasswordOneChange($event.target.value)"
      name="passwone"
      type="password"
      [value]="passwone"
      placeholder="Senha"
    />
    <small> Possuir no mínimo 8 caracteres</small>
  </div>

  <div class="form-group full-width">
    <input
      (input)="onUserPasswordTwoChange($event.target.value)"
      name="passwtwo"
      type="password"
      [value]="passwtwo"
      placeholder="Confirme a senha *"
    />
  </div>
</form>
